*{
    box-sizing: border-box;
}

.text {
    margin: 0px;
    color: aqua;
    margin: 10px auto;
    text-align: center;
    font-weight: 700;
    width: 460px;
    /* border: 2px solid red; just to see where the "box" is sitting  */
}

.heading {
    font-family: "Times New Roman", Verdana, "Helvetica Now", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color:rgb(4, 179, 4);
    background-color: rgb(17, 103, 17);
}

.list {
    background-color:rgb(110, 186, 82);
    text-align: center;
}

.image {
    /* padding:; */
    border: 20px solid greenyellow;
    margin: 40px;
    
}

